<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="form-group">
    <%= form.text_field :name, id: :product_name, placeholder: "Product Name", class: "form-control" %>
  </div>
    <div class="form-group">
    <%= form.text_field :image, id: :image_url, placeholder: "Add Image URL", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, id: :product_description, placeholder: "Enter Description", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :price_in_cents, id: :product_price_in_cents, placeholder: "Enter Price In Cents", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
  </form>
<% end %>
