<h1>Listing products</h1>

<%= link_to 'New Product', new_product_path %>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">

    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <%= image_tag product.image, :size => "260x180", :crop => :fill %>
        <h4 class="card-title"><%= product.name %></h4>
        <p class="card-text"><%= product.description %></p>
        <p class="card-text"><strong>$ <%= product.formatted_price %></strong></p>
        <button class="btn btn-primary"><%= link_to 'View', product %></button>
        <div class="admin">
          <button type="button" class="btn btn-warning">
            <%= link_to 'Edit', edit_product_path(product) %>
          </button>
          <button type="button" class="btn btn-danger">
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

